*.pyc
*.log
.DS_Store

.idea/
.vscode/
.venv
__pycache__/
src/
build/
dist/
docs/_build
*.egg-info/
*.code-workspace
environment.yml

defaults/Input Files/OCHRE*
outputs/
test/outputs/
ochre/Models/SAM_weather_*.csv
