*.pyc
*.log
.DS_Store

.idea/
.vscode/
.venv
__pycache__/
src/
build/
dist/
docs/_build
*.egg-info/
*.code-workspace

ochre/defaults/Input Files/OCHRE*
.history

test/outputs/*
!test/outputs/benchmark_golden.parquet
!test/outputs/benchmark_baseline.pstats