*.pyc
*.log
*.rej
.DS_Store

.idea/
.vscode/
.venv
__pycache__/
src/
build/
dist/
docs/_build
*.egg-info/
*.code-workspace
.history
ochre/defaults/Input Files/OCHRE*
test/outputs/
test/resstock_golden/ochre_result/bldg*/
test_run/
uv.lock